/* nav section */
body{
    background-color: #f9f9f9;
}
.body
{
    max-width: 1140px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.text-blur{
    color: #8987A1 ;
}
.text-black{
    color: #252432;
    font-weight: 700;
}
.text-real{
    color: #000000;
}
nav{
    display: flex;
    justify-content: space-between;
}

 .navbar{
    display: flex;
    gap: 80px;
    font-size: 24px;
    font-family:"Inter", sans-serif;
   
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
   
}

@media screen and (max-width:576px) {
    .nav-vanish
    {
        display: none;
    }  

}

/* banner section */

.komola{
  color: #E95A08;
}
.banner-heading{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 2.5rem;
   
}
.banner-text{
    font-family:"Inter", sans-serif ;
    color:rgba(0, 0, 0, 0.5);
    margin: 0 0 20px;
    line-height: 1.2;
    padding-right: 20px;
    flex: 1;
  
}
section .banner{
    display: flex;
    align-items: center;
justify-content: space-between;
margin-top: 140px;
}
.banner-img{
    width:50%;
    border-radius: 10px;

}
.banner-text p{
    font-size: 16px;
    line-height: 1.6;}
   
    @media screen  and (max-width:576px){

        section .banner{
            flex-direction: column-reverse;
       
        }
        .banner-img{
          width: 100%;
            height: auto;
            display: block;
       
    }
    
    .banner-text br{

    display: none;}
    .banner-heading{
        font-size: 1.25rem;
    }
            
}

/* card section */
.card-para{
     font-family:"Inter", sans-serif ;
    color:rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    line-height: 1.2;
    flex: 1;
}
.card-heading{
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.card-top{
    font-size: 2.3em;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 15px;
    
}
.flower{
    text-align: center;
    font-family:"Inter", sans-serif ;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.flower .flower-btn{
   background-color: #E95A08;
 margin-bottom:10px;
    height: 30px;
    width: 90%;
    padding: 0 20px;
    font-size: 70%;
    color: white;
    cursor: pointer;
    border:none;
}
.flower img{
    width: 100%;
}
@media screen and (max-width:576px){
    .card-para br{
        display: none;
    }
    .card-para{
        text-align: center;
    }
    .banner p{
        text-align: left;
    }
 .container{
    grid-template-columns: repeat(2,1fr);
 }
}

/* plant-lover section */

section.plant-lover {
  display: flex;
  align-items: flex-start;
  gap: 70px;
  margin-top: 140px;
  max-height: 540px;
  padding: 0 1rem;
}


.plant-image-wrapper {
  position: relative;
  flex: 1;
  max-width: 500px;
}


.plant-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}


.badge {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 250px;
  height: auto;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  section.plant-lover {
    flex-direction: column;
    align-items: flex-start;
    max-height: none;
  }

  .plant-image-wrapper {
    width: 100%;
  }

  .plant-text {
    width: 100%;
    text-align: left;
  }

  .plant-text-heading {
    font-size: 2rem;
  }

  .plant-text-heading br {
    display: none;
  }

  .plant-list {
    max-width: 90%;
  }

  .badge {
    display: none;
  }
}
